<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movement Register</title>
<th:block th:if="${role=='Employee'}" th:include="layout/employeeheader"></th:block>
<th:block th:if="${role=='admin'}" th:include="layout/adminheader"></th:block>
<th:block th:if="${role=='Manager' or role=='NoView'}" th:include="layout/managerheader"></th:block>
</head>
<body>
<h2 align="center">Movement Register</h2>
<form class="form-horizontal"
				th:action="@{/viewmovement}" method="post">
				<input type="hidden" class="form-control" id="userid" name="userid" th:value="${userid}" />
				<input type="hidden" class="form-control" id="role" name="role" th:value="${role}" />
				<input type="hidden" class="form-control" id="year" name="year" th:value="${year}" />
				<br/>
				<table align="center">
					
				
				<tr>
					<td>
						<label class="control-label"><font size="4">Select Month:</font></label>
					</td>
					
					<td>
						<select class="form-control" id="month" name="month">
						   <option th:value="${currentmonth}" th:text="${current}"></option>
						   <option th:value="${previousmonth}" th:text="${previous}"></option>
						   <option th:value="${nextmonth}" th:text="${next}"></option>
						</select>
					</td>
					
					<td>
						<button type="submit" class="btn btn-primary" >View</button>
					</td>	
				</tr>

				</table>
			</form>
</body>
</html>