<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Leave Form</title>
<th:block th:if="${employee.managerid!='system'}" th:include="layout/employeeheader"></th:block>
<th:block th:if="${employee.managerid=='system'}" th:include="layout/managerheader"></th:block>
<style>
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 8px 8px 8px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}
</style>
</head>
<body>
<div class="container" align="center">
		<h2>Leave Application Form</h2>
			<form class="form-horizontal" th:object="${leaveapplication}">
				<div class="form-group">
					<div class="col-sm-10">
						<input type="hidden" class="form-control" th:field="*{id}" />
						<input type="hidden" class="form-control" id="userid" name="userid" th:value="${userid}" />
						<input type="hidden" class="form-control" id="days" name="days" />
					</div>
				</div>
				<div align="center" th:if="${Error=='error'}">
				<p style="font-size: 20; color: #FF1C19;" th:text=${message}></p>
			    </div>
				<div class="form-group">
					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Start Date:</label>
						<input type="date" class="form-control" id="start" th:field="*{startdate}" readonly />
						<p style="color:red;" th:if="${#fields.hasErrors('startdate')}" th:errors="*{startdate}"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
					<label class="col-sm-2 control-label">End Date:</label>
					<input type="date" class="form-control" id="end" th:field="*{enddate}" readonly />
					<p style="color:red;" th:if="${#fields.hasErrors('enddate')}" th:errors="*{enddate}"></p>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
					<label class="col-sm-2 control-label">LeaveType:</label>
						<select class="form-control" id="leavetype" th:field="*{leavetype}" disabled>
						<option th:each="leaveentitlement :${leavetypes}"  th:value="${leaveentitlement.id}" th:text="${leaveentitlement.leavetype}" ></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Reason:</label>
						<input type="text" class="form-control" id="reasons" th:field="*{reasons}" readonly />
						<p style="color:red;" th:if="${#fields.hasErrors('reasons')}" th:errors="*{reasons}"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
					    <label class="col-sm-2 control-label">Contact:</label>
						<input type="text" class="form-control" th:field="*{contact}" readonly />
						<p style="color:red;" th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
						<label class="col-sm-2 control-label">Status:</label>
						<input type="text" class="form-control" id="status" name="status" th:value="${status}" readonly />
						<p style="color:red;" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-10">
					    <label class="col-sm-2 control-label">Manager:</label>
						<input type="text" class="form-control" id="manager" name="manager" th:value="${employee.managerid}" readonly />
						<p style="color:red;" th:if="${#fields.hasErrors('manager')}" th:errors="*{manager}"></p>
					</div>
				</div>
							<div class="form-group">
			       <div class="col-sm-2" th:if="${status=='Approved'}">
						<a th:href="${'/saveleave/cancel/' + leaveapplication.id+'/'+userid}" class="button">Cancel</a>
					</div>
					</div>
			</form>
					
				</div>
		

</body>
</html>
