<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manager Leave Balance</title>
<th:block th:include="layout/managerheader"></th:block>
</head>
<body>
<div class="container" align="center">
 <input type="hidden" id="userid" name="userid" th:value="${userid}"/> 
    <div th:if="${not #lists.isEmpty(ballist)}">
        <h2>Leave Balance</h2>
        <table border='1' class="table table-striped">
            <tr>
                <th>Leave Type</th>
                <th>Balance</th>
            </tr>
            <tr th:each="leavebalance : ${ballist}">
                <td th:each="leaveentitlement:${leavetype}" th:if="${leavebalance.balanceIdentity.leavetypeid==leaveentitlement.id}" th:text="${leaveentitlement.leavetype}"></td>
                <td th:text="${leavebalance.leavebalance}"></td>
            </tr>
        </table>
    </div>
    <br>
</div>
</body>
</html>